.landing-page-wrapper {
  width: 100%;
  padding: 0 90px;
}

.full-width {
  width: calc(100% + 180px);
  margin-left: -90px;
  margin-right: -90px;
  padding-top: 130px;
}

@media screen and (width <= 1024px) {
  .landing-page-wrapper {
    padding: 0 64px;
  }

  .full-width {
    width: calc(100% + 128px);
    margin-left: -64px;
    margin-right: -64px;
    padding-top: 130px;
  }
}

@media screen and (width <= 480px) {
  .full-width {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
  }
  .landing-page-wrapper {
    padding: 0 20px;
  }
}
