.header-wrapper {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 90px;
  font-size: 20px;
  padding-top: 40px;
}
.logo {
  height: 48px;
}

.logo_navigation {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 64px;
}

@media (width <= 1024px) {
  .logo_navigation {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}

@media (width <= 768px) {
  .header-wrapper {
    padding: 0 44px;
    padding-top: 40px;
  }
}
